/* whole website */
*{
    font-family: Century Gothic;
    box-sizing: border-box;
}

body{
  background-image: url(../images//shohampaint.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* Navigation head */
.header {
  width: 99%;
  height: 0.4%;
}

ul{
    float: right;
    list-style-type: none;
 }

ul li{
    display: inline-block;
}

ul li a{
    font-size: 3vh;
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

#logout:hover {
  color: red;
}

/* Login page */
.middle-container {
  max-width: 500px;
  margin: auto;
}

.center {
  word-wrap: break-word;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#image {
  position: relative;
  top: 5vh;
}

/* connect to spotify button */
#SpotifyButton {
  background-color:	#1DB954;
	border-radius:35px;
	border:1px solid #1DB954;
	cursor:pointer;
	color:#ffffff;
  font-size:25px;
  font-weight: bold;
  letter-spacing: 2px;
	padding:14px 50px;
	text-decoration:none;
  transition: 0.8s ease;
  width: 430px;
  padding: 15px 40px;
  text-align: center;
}

#SpotifyButton:hover{
  background-color:	#1ED760;
	border:1px solid #1DB954;
  border:0px;
}
/* under spotify button */
#text {
  text-align: center;
  font-size: 35px;
}

/* About us */
.description img {
  float: left;
  width: 55px;
  position: relative;
  top: 200px;
}

.description h3 {
  text-align: center;
  font-size: 12vh;
  text-shadow: 2px 2px black;
  color: #66FCF1;
}

/* home */
h1 {
  text-align: center;
  font-size: 12vh;
  text-shadow: 2px 2px black;
  color: #66FCF1;
}

h2 {
  font-size: 6vh;
  color: #fff;
  text-shadow: 2px 2px black;
}

h3 {
  text-align: center;
  position: relative;
  font-size:6vh;
  color: #c5c6c7;
}

.white_line {
  height: 0.5%;
  background-color: white;
  width: 99%;
  border-radius: 500px;
}

.white_line2 {
  height: 0.5%;
  background-color: white;
  width: 99%;
  border-radius: 500px;
}

th {
    -webkit-text-size-adjust: none;
    font-weight: bold;
    font-size: 3vw;
    color: #c5c6c7;
    background-color: rgba(180, 255, 255, .42);
    border-radius: 5px;
    box-shadow: 0 0 10px 0px black;
}

td {
  font-style: italic;
  text-align: center;
  font-weight: bold;
  font-size: 6vh;
  color: #c5c6c7;
  background-color: rgba(180, 255, 255, .11);
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
}

td:hover {
    background-color: #0B0C10;
    color: #45A29E;
    cursor: pointer;
}

#group {
  text-decoration:none;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  font-size: 6vh;
  color: #c5c6c7;
  background-color: rgba(180, 255, 255, .11);
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
  word-wrap: break-word;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#group:hover {
  background-color: #0B0C10;
  color: #45A29E;
  cursor: pointer;
}

.column {
  background-color: hsl(0.59,	0.24,	0.16,0);
  float: left;
  width: 33%;
  height: 100%;
  padding: 15px;
  border: white;
  box-shadow: 0px 0px 3px 1px black;
  transition: background-color 10s linear;
}

.container {
  height: 6vh;
}

.button {
  text-decoration:none;
  font-style: italic;
  font-weight: bold;
  font-size: 6vh;
  color: #c5c6c7;
  background-color: rgba(180, 255, 255, .11);
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
  word-wrap: break-word;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.input {
  text-decoration:none;
  font-style: italic;
  font-weight: bold;
  font-size: 10vh;
  color: #c5c6c7;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px black;
  word-wrap: break-word;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
