{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>About Us</h1>
<div class="column" id="middle">
		<div class="description">
			<p2 class="center">
				<span id="nio" > nio </span>
				is a web-application that takes in individual data from spotify and combines everyones preferences to create the perfect list of song suggestions.
			</p2>
		</div>
	</div>
	<div class="row2">
		<div class="column">
			<p2>Step 1: Connect to Spotify</p2>
		</div>
		<div class="column">
			<p2>Step 2: Make a group with friends</p2>
		</div>
		<div class="column">
			<p2>Step 3: Enjoy song suggestions the whole group will like</p2>
		</div>
	</div>
	<footer>
		<p3>
			made by: Shoham Weiss, Melanie Lin, Elnathan Au, Marwan Elgendy
		</p3>
	</footer>

{% endblock %}
