{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">

<div class="header">
  <ul>
    <li><a href="{% url 'dash' %}">Dash</a></li>
    <li><a href="{% url 'group' %}">Groups</a></li>
    <li><a href="{% url 'songs' %}">Songs</a></li>
    <li><a href="{% url 'about_us' %}">About us</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'login' %}" id="logout">Log out</a></li>
    <!-- needs javascript ^^^^^ -->
  </ul>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'spotifyapp_1/base.js' %}"></script>
{% block content %}
{% endblock %}
