{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="../css/style.css}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<header>
  <body>
    <header>
      <div class="main">
        <ul>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'connect' %}">Connect</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </header>
  </body>
</header>

{% block content %}
{% endblock %}
