{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="center" id="header">
  <h1>Welcome {{display_name}}!</h1>
  <h2>Your Spotify ID is: {{spotify_id}}</h2>
</div>

<div class="column">
  <table style="width:100%" id="top_artist_table">
    <tr>
      <th>Artist</th>
    </tr>
  </table>
</div>

<div class="column">
  <table style="width:100%" id="list_groups_table">
    <tr>
      <th>Group</th>
    </tr>
  </table>
</div>

<div class="column">
    <div class="container">
      <input class="group_id" type="text" placeholder="group_id">
      <input class="group_name" type="text" placeholder="group_name">
      <button class="btn create-group">Create New Group</button>
    </div>

    <div class="container">
      <input class="join_id" type="text" placeholder="group_id">
      <button class="btn join-group">Join Group</button>
    </div>
    <div class="container">
      <input class="leave_id" type="text" placeholder="group_id">
      <button class="btn leave-group">Leave Group</button>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'spotifyapp_1/dash.js' %}"></script>
{% endblock %}
