{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Welcome {{display_name}}!</h1>

  <h2>Your Spotify ID is: {{spotify_id}}</h2>
  <table style="width:100%" id="top_artist_table">
    <tr>
      <th>Artist</th>
    </tr>
  </table>
</div>
<div class="container">
  <input class="group_id" type="text" placeholder="group_id">
  <input class="group_name" type="text" placeholder="group_name">
  <button class="btn create-group">Create New Group</button>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'spotifyapp_1/dash.js' %}"></script>
{% endblock %}
