{% extends 'base.html' %}
{% load static %}

{% block content %}
<p id="name_header">{{group_name}} ({{group_id}})</p>

<div class="column">
  <object width="700" height="700" data="{% static 'spotifyapp_1/test.html' %}">
    Applet broke.
  </object>
</div>

<div class="column">
  <table class="table" style="width:100%; height:80%">
    <tr>
      <th>Suggestions</th>
    </tr>
    <tr style="height:100%">
      <td>
        <div class="items">
          <table id="suggestions_table">
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="column">
  <table style="width:100%" id="group_members_table">
    <tr>
      <th>Members</th>
    </tr>
  </table>
  <div class="container">
      <button class="btn change-group-name">Change name</button>
  </div>
  <div class="container">
      <button class="btn leave-group">Leave Group</button>
  </div>
  <div class="container">
      <button class="btn make-suggestions">Make Suggestions</button>
  </div>
  <div class="container">
      <button class="btn clear-suggestions">Clear Suggestions</button>
  </div>
</div>



<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'spotifyapp_1/group_view.js' %}"></script>
{% endblock %}
