{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="column">
  <table class="table" style="width:100%; height:80%">
    <tr>
      <th>Groups</th>
    </tr>
    <tr style="height:100%">
      <td>
        <div class="items">
          <table id="all_groups_table">
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'spotifyapp_1/group.js' %}"></script>
{% endblock %}
