<!-- {% extends 'base.html' %} -->

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">

<div class="middle-container">
		<div class="center" id="image">
			<img alt="Logo" src= "{% static 'images//Nio_logo-blue_w_headphones.png' %}" height="250vh" class="center">
		</div>
		<h3 class="center" id="text">
			Song suggestions for groups
		</h3>
		<a type="button" class="center" id="SpotifyButton" href="{{auth_url}}">
			Connect with Spotify
		</a>
</div>

<div style="margin-top:10vw" class="row2">
	<div class="column">
		<p2>Step 1: Connect to Spotify</p2>
	</div>
	<div class="column">
		<p2>Step 2: Make a group with friends</p2>
	</div>
	<div class="column">
		<p2>Step 3: Enjoy song suggestions the whole group will like</p2>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'spotifyapp_1/login.js' %}"></script>

{% endblock %}
