<!-- {% extends 'base.html' %} -->

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">

<div class="middle-container">
		<div class="center" id="image">
			<img alt="Logo" src= "{% static 'images//Nio_logo-blue_w_headphones.png' %}" height="300" class="center">
		</div>
		<h3 class="center" id="text">
			Song suggestions for groups
		</h3>
		<a type="button" class="center" id="SpotifyButton" href="{{auth_url}}">
			Connect with Spotify
		</a>
</div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'spotifyapp_1/login.js' %}"></script>

{% endblock %}
