{% extends 'base.html' %}
{% load static %}

{% block content %}
<p> See if your song is in our database! If not, add it! </p>

<div>
  <input id="search_val" type="text" placeholder="Search...">
  <button style="float:right; margin-right:10px" class="btn add-song">Add Song</button>
  <input style="float:right" class="new_song_id" type="text" placeholder="Input spotify id">
  <table class="table" style="width:100%; height:70vh">
    <tr>
      <th colspan="3">Songs</th>
    </tr>
    <tr style="border-bottom: 2px solid white; font-color: #45A29E; font-size:20px">
      <td width=33% style="border-left: 2px solid white; text-align:center">Song</td>
      <td width=33% style="border-left: 2px solid white; text-align:center">Artist</td>
      <td width=33% style="border-left: 2px solid white; text-align:center">Genre</td>
    </tr>
    <tr style="height:100%">
      <td colspan="3">
        <div class="items">
          <table id="songs_table">
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'spotifyapp_1/songs.js' %}"></script>
{% endblock %}
