{% extends 'base.html' %}
{% load static %}

{% block content %}
<p> See if your song is in our database! If not, add it! </p>

<div>
  <input class="new_song_id" type="text" placeholder="Input spotify id">
  <button class="btn add-song">Add Song</button>
  <input id="search_val" type="text" placeholder="Search...">
  <table class="table" style="width:100%; height:80%">
    <tr>
      <th>Songs</th>
    </tr>
    <tr style="height:100%">
      <td>
        <div class="items">
          <table id="songs_table">
            <tr><td>Song</td><td>Artist</td><td>Genre</td></tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'spotifyapp_1/songs.js' %}"></script>
{% endblock %}
